.app {
  width: 100rem;
  display: flex;
  /* flex-direction: column; */
  gap: 12rem;
  justify-content: center;
}

.checkout-btn {
  padding: 1rem 5rem;
  color: white;
  background-color: black;
  border-radius: 4px;
}
.li-content {
  /* background-color: ; */
}
.list-item {
  font-size: 2rem;
  display: flex;
}

.addBtn,
.removeBtn {
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.addBtn {
  background-color: rgba(0, 128, 0, 0.724);
}
.removeBtn {
  background-color: rgb(212, 47, 47);
}
.addToCart-btn {
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  background-color: rgba(20, 87, 255, 0.808);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.7rem;
}
.item-container {
  background-color: #fff3bf;
  padding: 0.7rem 5rem;
  margin-bottom: 1.2rem;
  border-radius: 6px;
}

h1 {
  text-align: center;
  font-size: 3rem;
}
